
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {

      --font-heading: "Playfair Display", serif;
      --font-body: "Playfair Display", serif;

      --breakpoint-sm: 640px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 1024px;
    }
  
body {
      font-family: var(--font-body);
      font-weight: 400;
      line-height: 1.6;
      color: var(--gray-800);
      background-color: var(--gray-50);
    }

    /* === TYPOGRAPHY === */
    h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-heading);
      font-weight: 700;
      line-height: 1.2;
      color: var(--color-secondary);
      margin-bottom: 1rem;
    }